@font-face {
    font-family: Poppins;
    src: url(./src/font/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(./src/font/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-semibold;
    src: url(./src/font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins-medium;
    src: url(./src/font/Poppins-Medium.ttf);
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
    padding: 0;
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

main {
    margin-top: 0px;
    margin-left: 16%;
    margin-right: 9%;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 99;
    display: flex;
    background: #1c4466;
    justify-content: space-around;
    align-items: center;

}

.brand svg {
    width: 50px;
    height: 50px;
}

.navs {
    display: flex;
    align-items: center;
    list-style: none;
    width: 30%;
    justify-content: space-between;
    transition: all 0.7s;
}

.navs.slide {
    transform: translateX(0);
}

nav a li {

    margin: 10px;

}

nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 3px;
    font-size: 0.8em;

}

nav li a:hover {
    color: rgba(255, 255, 255, 0.9);
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    display: none;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    top: -5px;
    left: -10px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;

}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    scale: 0;
    opacity: 0;
}



#background {
    background-image: url(./src/img/beranda/global-connections.jpg);
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}

#beranda .display {
    display: flex;
}

#beranda .display .title h1 {
    color: #fff;
    font-size: 42px;
    font-family: Poppins-semibold;
}

#beranda .display .title {
    margin-top: 100px;
    width: 500px;
}

#beranda .display svg {
    width: 80px;
    height: 80px;
}

#beranda .display .title p {
    color: #9CA3AF;
    font-family: Poppins-medium;
    width: 100%;
    margin-bottom: 50px;
}

#beranda .display .title .tombol {
    background-color: #0C4A6E;
    color: white;
    padding: 15px 20px;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    font-family: Poppins-semibold;
    transition: all 0.3s;
}

#beranda .display .title .tombol-utama{
    text-decoration: none;
}


#beranda .display .title .tombol:hover{
    color: #0C4A6E;
    background-color: #fff;
}





/* responsive tablet */

@media screen and (max-width:1070px) {
    nav .navs {
        width: 50%;
    }

    #background {
        background-position: 50%;
    }

    main {
        margin-left: 11%;

    }
}

@media screen and (max-width:880px) {
    nav .navs {
        width: 65%;
    }

    main {
        margin-left: 7%;
    }
}

/* responsive mobile */

@media screen and (max-width:576px) {
    nav .navs {
        position: fixed;
        flex-direction: column;
        right: 0;
        top: 40px;
        width: 50%;
        box-shadow: 2px #fff;
        background-color: #0C4A6E;
        height: 50vh;
        align-items: baseline;
        justify-content: unset;
        z-index: -1;
        transform: translatex(100%);
        border-bottom-left-radius: 10px;
        padding-left: 0;
    }

    .navs a {
        width: 100%;
        letter-spacing: normal;
        font-size: 1em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        border-top: 1px solid rgba(255, 255, 255, 0.6);
    }

    nav {
        justify-content: space-between;
        padding-left: 7%;
        padding-right: 7%;
        width: 86%;
    }

    nav .menu-toggle {
        display: flex;
        
    }

    #background {
        background-position: 55%; 
        background-color: rgba(255, 255, 255, 0.5);
    }

    main {
        margin-left: 5%;
        margin-right: 7%;
    }
}